* {
  cursor: pointer;
  font-family: 'Comic Sans MS', sans-serif;
}


body {
  background-image: linear-gradient( #136871, #78c4c6, #bff4f7);
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Player1(Left) and Player2(Right) Containers */

h1,
div {
  font-size: 50px;
}


h2 {
  font-size: 65px;
}

.player-one-score,
.player-two-score,
.players-turn,
.game-winner {
  font-size: 56px;
}

.players-turn,
.game-winner {
  font-weight: bold;
  margin-bottom: 3%;
  margin-top: 2%;
}

.player-one-left,
.player-two-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  height: 100%;
  margin-top: 10%;
  width: 25%;
}

.player-one-score,
.player-two-score {
  display: flex;
  align-items: center;
}

/* Gameboard */

.center-game-board {
  height: 90%;
  width: 62%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  border: 5px solid black;
  border-radius: 4%;
  height: 90%;
  margin-top: 5%;
  opacity: 0.60;
  width: 62%;
}

.board {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 5%;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  height: 2.2em;
  position: relative;
  width: 2.2em;
}

.square.zero,
.square.three,
.square.six {
  border-left: none;
}

.square.six,
.square.seven,
.square.eight {
  border-bottom: none;
}

.square.zero,
.square.one,
.square.two {
  border-top: none;
}

.square.two,
.square.five,
.square.eight {
  border-right: none;
}

.reset-button {
  background: transparent;
  border-radius: 8px;
  border-style: solid;
  color: #FF0000;
  border-color: #FF0000;
  font-size: 20px;
  font-weight: bold;
  height: 6%;
  margin-top: 5%;
  width: 23%;
}


.hidden {
  display: none;
}
